.campo-texto {
    margin: 1.5rem 0;
}

.campo-texto label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.campo-texto input {
    background-color: #ffffff;
    box-shadow: 0.625rem 0.625rem 1.875rem rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
}